<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>User Weather App</h2>
      <h3>All registered users:</h3>
      <table class="table">
        <thead>
          <th scope="row">Name</th>
          <th scope="row">Last Name</th>
          <th scope="row">Gender</th>
          <th scope="row">Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" (click)="selectUser(user.id)">
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.lastName}}
            </td>
            <td>
              {{user.gender}}
            </td>
            <td>
              <a routerLink="/editUser/{{user.id}}">
                <button type="button" class="btn btn-success">
                  Edit
                </button>
              </a>
              <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">
                Delete
              </button>            
            </td>
          </tr>
        </tbody>
      </table>
      <tbody>        
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>User Details</h4>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Name: </label> {{currentUser.firstName}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Last Name: </label> {{currentUser.lastName}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Gender: </label> {{currentUser.gender}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">City: </label> {{currentUser.UserCity.cityName}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Country: </label> {{currentUser.UserCountry.name}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">State: </label> {{currentUser.UserState.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Lat: </label> {{weather.query.results.channel.item.lat}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Lng: </label> {{weather.query.results.channel.item.long}}
        </div>
      </div>
      <h4>Weather Details for {{weather.query.results.channel.location.city}}</h4>
      <h5>Astronomy</h5>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Sunrise: </label> {{weather.query.results.channel.astronomy.sunrise}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label for="">Sunset: </label> {{weather.query.results.channel.astronomy.sunset}}
        </div>
      </div>
      <h5>Atmosphere</h5>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Humidity: </label> {{weather.query.results.channel.atmosphere.humidity}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Pressure: </label> {{weather.query.results.channel.atmosphere.pressure}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Visibility: </label> {{weather.query.results.channel.atmosphere.visibility}}
        </div>
      </div>
      <h5>Wind</h5>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Chill: </label> {{weather.query.results.channel.wind.chill}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Direction: </label> {{weather.query.results.channel.wind.direction}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Speed: </label> {{weather.query.results.channel.wind.speed}}
        </div>
      </div>
      <h5>Now condition</h5>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="">Today: </label>
          {{weather.query.results.channel.item.condition.date}} is {{weather.query.results.channel.item.condition.temp}} F, {{weather.query.results.channel.item.condition.text}}
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h5>Last conditions in {{weather.query.results.channel.location.city}}</h5>
      <table class="table">
        <thead>
          <th scope="row">Date</th>
          <th scope="row">Day</th>
          <th scope="row">Higher Temp (F)</th>
          <th scope="row">Lower Temp (F)</th>
          <th scope="row">Text</th>
        </thead>
        <tbody>
          <tr *ngFor="let forecast of weather.query.results.channel.item.forecast" (click)="selectUser(user.id)">
            <td>
              {{forecast.date}}
            </td>
            <td>
              {{forecast.day}}
            </td>
            <td>
              {{forecast.high}}
            </td>
            <td>
              {{forecast.low}}
            </td>
            <td>
              {{forecast.text}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
